body {
	font-family: monospace;
	font-size: x-large;
	max-width: 800px;
	text-align: center;
	margin: auto;
}

textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

textarea {
	width: 60%;
	height: 250px;
}

td, tr {
	width: 800px;
	border: 1px solid black;
	font-family: monospace;
	font-size: large;
	text-align: left;
	vertical-align: top;
	
}
table {
	border-collapse: collapse;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	text-align: left;
	border: 1px solid black;
	width: 90%;
	margin: auto;
	padding: 5px;
}

button {
	cursor: pointer;
	margin-top: 10px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 1px;
	color: #000;
	border-color: #dcdcdc;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0px 1px 0px 0px #000;
	background: linear-gradient(#ffffff, #bbbbbb);
	font-family: monospace;
}
button:active {
	background: linear-gradient(#bbbbbb, #ffffff);
}